<%= form_for([@local, comentar], html: { multipart: true }) do |f| %>
  <div class="col-xs-4">
    <%= f.text_area :texto, rows: 4, class: "form-control" %>
    <br>
    <%= f.submit t(:submit_comment), class: "btn btn-primary" %>
  </div>
<% end %>
