<% title "Adicionar Organização" %>

<ul class="nav nav-tabs flex-column flex-xl-row">
  <li class="nav-item">
    <%= link_to t(:all), organizacoes_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:new), new_organizacao_path, :class => "nav-link active" %>
  </li>
</ul>
<br>

<%= render 'form', organizacao: @organizacao %>
