    loadLayers('/accounts/agroecology-works/locations.json', 'Agroecology Works!', 'orange').then(layer => {
        const agroecologyworks = L.markerClusterGroup({ maxClusterRadius: 0 });
        agroecologyworks.addLayer(layer).addTo(map);
        Object.assign(overlayMaps, {"<a href='https://www.agroecologyworks.ch' target='_blank'>Agroecology Works!</a>": agroecologyworks});
    });
