    var overlayMaps = {};
    var baseMaps = {};
    var lat = 16.0;
    var lon = 1.0;
    var zoom = 3.25;
    var collapsed = false;

    if (window.innerWidth < 1000) { collapsed = true; }

    if (window.devicePixelRatio > 2) {
        zoom = 3;
        lat = -1.00;
        lon = -32.00;
    }

    var map = L.map('map', { fullscreenControl: true,
                                zoomControl: false,
                                worldCopyJump: true,
                                zoomSnap: 0.25,
                                minZoom: 2,
                                maxZoom: 18,
                            }
                    ).setView([lat, lon], zoom);

    $(document).ready(function () {
        $(window).on("resize", function () {
            $("#map").height($(window).height() - 80);
            map.invalidateSize();
        }).trigger("resize");
    });

    $('.leaflet-container').css('cursor','crosshair');

    $(window).on('load', function () {
        var osm = L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '<span style="font-size: 10px"><a href="https://codeberg.org/marcelo-soares-souza/agroecology-map" target="_blank">Agroecology Map</a> | <a href="https://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> | <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA</a></span>',
            maxZoom: 18,
        }).addTo(map);

        Object.assign(baseMaps, {"<a href='https://www.openstreetmap.org/' target='_blank'>OpenStreetMap</a>": osm});
    });