    let lat = 16.0;
    let lon = 1.0;
    let zoom = 3.25;

    if (window.devicePixelRatio > 2) {
        zoom = 3;
        lat = 15.00;
        lon = 15.00;
    }

    const map = L.map('map', { fullscreenControl: true,
                                zoomControl: false,
                                worldCopyJump: true,
                                zoomSnap: 0.25,
                                minZoom: 2,
                                maxZoom: 18,
                            }
                    ).setView([lat, lon], zoom);

    const osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '<span style="font-size: 10px"><a href="https://codeberg.org/marcelo-soares-souza/agroecology-map" target="_blank">Agroecology Map</a> | <a href="https://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> | <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA</a></span>',
        maxZoom: 18,
    }).addTo(map);
    
    let overlayMaps = {};
    let baseMaps = {};

    Object.assign(baseMaps, {"<a href='https://www.openstreetmap.org/' target='_blank'>OpenStreetMap</a>": osm});

    $(document).ready(function () {
        $(window).on("resize", function () {
            $("#map").height($(window).height() - 80);
            map.invalidateSize();
        }).trigger("resize");
    });

    let collapsed = false;
    if (window.innerWidth < 1000) { collapsed = true; }

