    loadLocations().then(layer => {
       var locations = L.markerClusterGroup({ disableClusteringAtZoom: 12, maxClusterRadius: 16 });
        locations.addLayer(layer).addTo(map);
        Object.assign(overlayMaps, {"<a href='https://agroecologymap.org/' target='_blank'>Agroecology Map</a>": locations});
        L.control.layers(baseMaps, overlayMaps, {collapsed: collapsed, position: 'bottomright'}).addTo(map);
    });