<% title t(:register_new_experience) %>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to t(:experience_in_agroecology), experiencia_agroecologicas_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:new), new_experiencia_agroecologica_path, :class => "nav-link active" %>
  </li>
</ul>

<br/>

<% if ! @locais.empty? %>
  <%= render 'form', experiencia_agroecologica: @experiencia_agroecologica %>
<% else %>
  <br/>
  <h3>Nenhum Local Cadastrado. Deseja <%= link_to "Cadastrar um Local Agora?", new_local_url %></h3>
<% end %>
