<style>
    footer .container {
        width: 80%;
    }

    .container {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
</style>

<div id="map"></div>

<script>
  console.log(window.innerWidth)
    // lat = -8.00; // lat = -15.77835833463309;
    // lon = -32.00; // lon = -47.88219451904297;
    lat = 16.0;
    lon = 1.0;
    zoom = 3.25;

    if (window.devicePixelRatio > 2) {
        zoom = 2;
        lat = -1.00;
        lon = -32.00;
    }

    var map = L.map('map', {fullscreenControl: true, zoomControl: false}).setView([lat, lon], zoom);

    $(document).ready(function () {
        $(window).on("resize", function () {
            $("#map").height($(window).height() - 80);
            map.invalidateSize();
        }).trigger("resize");
    });

    $(window).on('load', function () {
        // Base Maps
        var osm = L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '<a href="https://codeberg.org/marcelo-soares-souza/agroecology-map" target="_blank"><%= t('site') %></a> | <a href="https://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> | <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY-NC-SA</a>',
            maxZoom: 18,
        }).addTo(map);
        var osmHot = L.tileLayer('https://a.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
            attribution: '<a href="https://codeberg.org/marcelo-soares-souza/agroecology-map" target="_blank"><%= t('site') %></a> | <a href="https://www.hotosm.org/" target="_blank">HOT OpenStreetMap</a>',
            maxZoom: 18,
        });
        var osmCycl = L.tileLayer('https://a.tile-cyclosm.openstreetmap.fr/cyclosm/{z}/{x}/{y}.png', {
            attribution: '<a href="https://codeberg.org/marcelo-soares-souza/agroecology-map" target="_blank"><%= t('site') %></a> | <a href="https://cyclosm.org/" target="_blank">CyclOSM OpenStreetMap</a>',
            maxZoom: 18,
        });
        var mapbox = L.tileLayer('https://api.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFyY2Vsb3NvYXJlc3NvdXphIiwiYSI6ImNpZ2NpNXFmMzNvaDh3Ym0zeXM3aWN3Y2EifQ.1xOQgKK1MioUioN0B4DVog', {
            attribution: 'Mapa da Agroecologia | MapBox',
            maxZoom: 18,
        });

        var baseMaps = {
            "<a href='https://www.openstreetmap.org/' target='_blank'>OpenStreetMap</a>": osm,
            "<a href='https://www.hotosm.org/' target='_blank'>Humanitarian OpenStreetMap</a>": osmHot,
            "<a href='https://cyclosm.org/' target='_blank'>CyclOSM OpenStreetMap</a>": osmCycl,
            "Satélite (MapBox)": mapbox
        };

        // OverLay Maps
        var geoserver = 'https://funai.mapadaagroecologia.org/geoserver/ows?';
        var workspace = 'CMR-PUBLICO'
        var ti = L.tileLayer.wms(geoserver, {
            layers: workspace + ':' + 'lim_terra_indigena_a',
            format: 'image/png',
            transparent: true
        });
        var ai = L.tileLayer.wms(geoserver, {
            layers: workspace + ':' + 'loc_aldeia_indigena_p',
            format: 'image/png',
            transparent: true
        });
        var ar = L.tileLayer.wms(geoserver, {
            layers: workspace + ':' + 'lim_assentamento_rural_a',
            format: 'image/png',
            transparent: true
        });
        var uc = L.tileLayer.wms(geoserver, {
            layers: workspace + ':' + 'lim_unidade_conservacao_federal_a',
            format: 'image/png',
            transparent: true,
            opacity: 0.5
        });
        var quilombos = L.tileLayer.wms(geoserver, {
            layers: workspace + ':' + 'lim_quilombolas_a',
            format: 'image/png',
            transparent: true,
            opacity: 0.5
        });
        var biomas = L.tileLayer.wms(geoserver, {
            layers: workspace + ':' + 'veg_biomas_a',
            format: 'image/png',
            transparent: true,
            opacity: 0.3
        }).addTo(map);

        var consumoresponsavel = loadConsumoResponsavel();
        var idec = loadIDEC();
        var ppm = loadPPM();
        var ofb = loadOFB();
        var foei = loadFOEI();

        consumoresponsavel.addTo(map);
        idec.addTo(map);
        ppm.addTo(map);
        ofb.addTo(map);
        foei.addTo(map);
        foei.setZIndex(101);

        var overlayMaps = {
            "<a href='https://cmr.funai.gov.br/geoserver' target='_blank'>Biomas</a>": biomas,
            "<a href='https://cmr.funai.gov.br/geoserver' target='_blank'>Terra Indígena</a>": ti,
            "<a href='https://cmr.funai.gov.br/geoserver' target='_blank'>Aldeias Indígenas</a>": ai,
            "<a href='https://cmr.funai.gov.br/geoserver' target='_blank'>Assentamento Rural</a>": ar,
            "<a href='https://cmr.funai.gov.br/geoserver' target='_blank'>Unidade de Conservação</a>": uc,
            "<a href='https://cmr.funai.gov.br/geoserver' target='_blank'>Quilombos</a>": quilombos,
            "<a href='https://www.foei.org/agroecology-map' target='_blank'>Friends of the Earth</a>": foei,
            "<a href='http://mapa.consumoresponsavel.org.br/' target='_blank'>Consumo Responsável</a>": consumoresponsavel,
            "<a href='https://feirasorganicas.org.br' target='_blank'>Feiras Orgânicas (IDEC)</a>": idec,
            "<a href='https://agroecologia.org.br/mapa-das-politicas-publicas-em-agroecologia/' target='_blank'>Politicas Públicas Municipais</a>": ppm,
            "<a href='https://openfoodbrasil.com.br/' target='_blank'>Open Food Brasil</a>": ofb
        };

        L.control.layers(baseMaps, overlayMaps, {collapsed: true, position: 'bottomright'}).addTo(map);

        <%= render 'locais', locais: @locais %>

    });
</script>

<!--<div class="logo">-->
  <%#= image_tag('/logo.png', :alt=>'logo', :title => 'logo', :style => 'display: none;') %>
<!--</div>-->