  <style>
    footer .container {
       width: 80%;
    }

    .container {
       width: 100%;
       padding-left: 0px;
       padding-right: 0px;
    }
  </style>

  <div id="map"></div>

  <script>
    lat = -15.77835833463309;
    lon = -47.88219451904297;

    var map = L.map('map', {fullscreenControl: true, zoomControl: false}).setView([lat, lon], 4);

    $( document ).ready(function() {

      $(window).on("resize", function () { $("#map").height($(window).height() - 60); map.invalidateSize(); }).trigger("resize");

      L.control.zoom({position:'topright'}).addTo(map);

      var logo = L.control({position: 'bottomleft'});
      logo.onAdd = function(map) { var div = L.DomUtil.create('div', 'myclass'); div.innerHTML= "<img src='<%= image_url "itbio3-small.png" %>'/>"; return div;};
      logo.addTo(map);

      var osmGeocoder = new L.Control.OSMGeocoder({ placeholder: 'Buscar por Endereço (Logradouro, Cidade, Estado e/ou País)' });

      map.addControl(osmGeocoder);

    });

    $( window ).on('load', function() {
      // Base Maps
      var osm    = L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: '<a href="https://itbio3.org">ITBio3</a> | Mapa da Agroecologia | OpenStreetMap', maxZoom: 18,}).addTo(map);
      var mapbox = L.tileLayer('https://api.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFyY2Vsb3NvYXJlc3NvdXphIiwiYSI6ImNpZ2NpNXFmMzNvaDh3Ym0zeXM3aWN3Y2EifQ.1xOQgKK1MioUioN0B4DVog', { attribution: '<a href="https://itbio3.org">ITBio3</a> | Mapa da Agroecologia | MapBox', maxZoom: 18,});

      var baseMaps = { "OpenStreetMap": osm, "Satélite (MapBox)": mapbox };

      // OverLay Maps
      var ti = L.tileLayer.wms('http://cmr.funai.gov.br/geoserver/ows?',        { layers: 'CMR-PUBLICO:lim_terra_indigena_a', format: 'image/png', transparent: true });
      var ar = L.tileLayer.wms('http://cmr.funai.gov.br/geoserver/ows?',        { layers: 'CMR-PUBLICO:lim_assentamento_rural_a', format: 'image/png', transparent: true });
      var uc = L.tileLayer.wms('http://cmr.funai.gov.br/geoserver/ows?',        { layers: 'CMR-PUBLICO:lim_unidade_conservacao_federal_a', format: 'image/png', transparent: true, opacity: 0.5 });
      var quilombos = L.tileLayer.wms('http://cmr.funai.gov.br/geoserver/ows?', { layers: 'CMR-PUBLICO:lim_quilombolas_a', format: 'image/png', transparent: true, opacity: 0.5 });
      var biomas =  L.tileLayer.wms('http://cmr.funai.gov.br/geoserver/ows?',   { layers: 'CMR-PUBLICO:veg_biomas_a', format: 'image/png', transparent: true, opacity: 0.3 }).addTo(map);
      consumoresponsavel = loadConsumoResponsavel();
      idec = loadIDEC();

      var overlayMaps = { "Terra Indígena": ti, "Assentamento Rural": ar, "Unidade de Conservação": uc, "Quilombos": quilombos, "<a href='http://mapa.consumoresponsavel.org.br/' target='_blank'>Consumo Responsável</a>": consumoresponsavel, "<a href='https://feirasorganicas.org.br' target='_blank'>Feiras Orgânicas (IDEC)</a>": idec, "Biomas": biomas };

      L.control.layers(baseMaps, overlayMaps, { collapsed: false, position: 'bottomright'} ).addTo(map);

      <%= render 'locais', locais: @locais %>

    });
  </script>
