 async function loadAgroecologyWorks() {
        var agroecologyWorks = L.markerClusterGroup({ maxClusterRadius: 0 });

        var Icon = L.icon({
            iconUrl: '/assets/leaflet/images/leaf-orange.png',
            shadowUrl: '/assets/leaflet/images/leaf-shadow.png',
            iconSize: [38, 95],
            shadowSize: [50, 64],
            iconAnchor: [22, 94],
            shadowAnchor: [4, 62],
            popupAnchor: [-3, -76]
        });

        const response = await fetch("/accounts/agroecology-works/locations.json");
        const jsonData = await response.json();

        for (const location of jsonData) {
            const name = location['name'];
            const url = location['url'];
            const image_url = location['image_url']
            const latitude = location['latitude'];
            const longitude = location['longitude'];

            var popup = '';
            popup += '<div class="thumbnail-mini"><a href="'+url+'"><img src="'+image_url+'" title="'+name+'" alt="'+name+'"/></a></div><br>'
            popup += '<h4><a href="'+url+'">'+name.slice(0, 40)+'</a></h4>';

            var marker = new L.marker(new L.latLng(latitude, longitude), {icon: Icon});
            marker.bindPopup(popup);
            agroecologyWorks.addLayer(marker);
        }

        return agroecologyWorks;
    }