<% title "Adicionar Sistema Agroflorestal" %>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to t(:safs), safs_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:new), new_saf_path, :class => "nav-link active" %>
  </li>
</ul>
<br>
<% if !@locais.empty? %>
  <%= render 'form', saf: @saf %>
<% else %>
  <br>
  <h3>Nenhum Local Cadastrado. Deseja <%= link_to "Cadastrar um Local Agora?", new_local_url %></h3>
<% end %>
