<ul class="nav nav-tabs">
  <% if usuario_signed_in? %>
    <% if current_usuario.admin %>
      <li class="nav-item">
        <%= link_to t(:all), tipo_organizacoes_path, :class => "nav-link" %>
      </li>
    <% end %>
  <% end %>
  <li class="nav-item">
    <%= link_to "#{t(:edit)} #{@tipo_organizacao.nome}", edit_tipo_organizacao_path(@tipo_organizacao), :class => "nav-link active" %>
  </li>
</ul>
<br/>
<%= render 'form', tipo_organizacao: @tipo_organizacao %>
