<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to t(:all), tipo_organizacoes_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:new), new_tipo_organizacao_path, :class => "nav-link active" %>
  </li>
</ul>
<br>

<%= render 'form', tipo_organizacao: @tipo_organizacao %>
