<li class="page-item">
  <%= link_to_unless current_page.first?, raw(t 'views.pagination.first'), url, remote: remote, class: 'page-link' unless current_page.first? %>
  <%= link_to_unless !current_page.first?, raw(t 'views.pagination.first'), url, remote: remote, class: 'page-link', style: 'pointer-events: none; cursor: default; color: #000;' unless !current_page.first? %>
</li>
