<br><br>
<div class="error-box">
  <%= image_tag ("error/422.png"), class: "error" %>
  <br><br>
  <h3 style="color: #ad0000; font-style: italic">An unexpected error occurred, don't worry. <u>Please Try Again.</u></h3>
  If the error persists, contact: marcelo@agroecologymap.org.
</div>