<%= form_for([@practice, comment], html: { multipart: true }) do |f| %>
  <div class="col-xs-4" style="padding-bottom: 25px">
    <%= f.text_area :comment, rows: 4, class: "form-control", placeholder: t(:comment) %>
    <%= f.submit t(:submit_comment), class: "btn btn-info", style: "float: right; margin-top: 8px; margin-bottom: 8px;" %>
  </div>
<% end %>
