<% title t(:register_new_practice) %>

<div class="link-action"></div>

<ul class="nav nav-tabs flex-column flex-xl-row">
  <li class="nav-item">
    <%= link_to @practice.name.truncate(25), practice_path(@practice), :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "#{t(:edit)}", edit_practice_path(@practice), :class => "nav-link active" %>
  </li>
</ul>

<br>

<% if !@location.blank? %>
  <%= render 'form', practice: @practice %>
<% else %>
  <br>
  <h3>Nenhum Location Cadastrado. Deseja <%= link_to "Cadastrar um Location Agora?", new_location_url %></h3>
<% end %>
