function loadConsumoResponsavel() {
  var consumoresponsavel = L.markerClusterGroup({ disableClusteringAtZoom: 16 });

  var categories = {'feiras': 'Feiras de orgânicos',
                    'iniciativas-de-economia-solidaria': 'Iniciativas de Economia Solidária',
                    'iniciativas-de-agroecologia': 'Iniciativas de Agroecologia',
                    'grupos-de-consumo-responsavel': 'Grupos de Consumo Responsável',
                    'restaurantes': 'Restaurantes com ingredientes orgânicos',
                    'agricultura-urbana': 'Iniciativas de agricultura urbana',
                    'coletivos-culturais': 'Coletivos culturais',
                    'lojas': 'Lojas de consumo reponsável'};

  var Icon = L.icon({
                     iconUrl: '<%= image_url "leaflet/images/leaf-red.png" %>',
                     shadowUrl: '<%= image_url "leaflet/images/leaf-shadow.png" %>',
                     iconSize:     [38, 95],
                     shadowSize:   [50, 64],
                     iconAnchor:   [22, 94],
                     shadowAnchor: [4, 62],
                     popupAnchor:  [-3, -76]
                   });

  function onEachFeature(feature, layer) {
    var popupText = '<b><a href="http://mapa.consumoresponsavel.org.br/?id=' + feature.properties.id + '" target="_blank">' + feature.properties.title + '</a><br/>' + categories[feature.properties.category] + '<br/><br/>Fonte:</b> <a href="http://mapa.consumoresponsavel.org.br/" target="_blank">Portal do Consumo Responsável e Parceiros</a>'
    layer.bindPopup(popupText);
  }

  // https://dtygel.vps2.eita.org.br/responsa_datamining/ajax_get_all_initiatives_geojson.php
  $.getJSON("https://agroecologymap.org/system/consumoresponsavel.json", function (data) {
    $.each(data, function(category, items) { consumoresponsavel.addLayer(L.geoJson(items.features, { pointToLayer: function (feature, latlng) { return L.marker (latlng, { icon: Icon }) } , onEachFeature: onEachFeature }));});
  });

  return consumoresponsavel;
}
