<% title t(:characterise) %>

<div class="link-action"></div>

<ul class="nav nav-tabs flex-column flex-xl-row">
  <li class="nav-item">
    <%= link_to @characterise.practice.name.truncate(25), practice_path(@characterise.practice), :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "#{t(:edit)}", "#", :class => "nav-link active" %>
  </li>
</ul>
<br>

<%= render 'form', characterise: @characterise %>
