<ul class="nav nav-tabs">
  <% if usuario_signed_in? %>
    <% if current_usuario.admin %>
      <li class="nav-item">
        <%= link_to t(:all), usuarios_path, :class => "nav-link" %>
      </li>
    <% end %>
  <% end %>
  <li class="nav-item">
    <%= link_to "#{t(:edit)} #{@usuario.nome}", edit_usuario_path(@usuario), :class => "nav-link active" %>
  </li>
</ul>
<br/>
<%= render 'form', usuario: @usuario %>
