<ul class="nav nav-tabs flex-column flex-xl-row">
  <li class="nav-item">
    <%= link_to t(:all), usuarios_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "#{t(:edit)} #{@usuario.nome}", edit_usuario_path(@usuario), :class => "nav-link active" %>
  </li>
</ul>
<br>
<%= render 'form', usuario: @usuario %>
