<p><strong>1) What is the Agroecology Map citizen science initiative?</strong></p>
<p>The Agroecology Map citizen science initiative is a project implemented by the Agroecology TPP in collaboration with partners from the <a href="https://agroecologymap.org/" target="_blank">Agroecology Map</a>, Asian Farmers Association (AFA), Groundswell International, the facilitator of the McKnight Andes Community of Practice, and knowledge partners from ETH Citizen Science Centre Zurich.</p>
<p><span size="2">The initiative&rsquo;s goal is to develop a tool, or a series of tools, that enable farmers, producer organizations, consumers and other potential end users around the world to&nbsp;</span></p>
<ol>
  <li>
    <p>inclusively participate in agroecology movements,&nbsp;</p>
  </li>
  <li>
    <p>support sustainable adoption of agroecology,&nbsp;</p>
  </li>
  <li>
    <p>contribute to the collection, co-creation and sharing of information to fill key knowledge gaps on the performance of agroecology.&nbsp;</p>
  </li>
</ol>
<p>The initiative is funded by the Swiss Agency for Development and Cooperation (SDC).</p>
<br>
<p><strong>2) What is the Agroecology Map platform?</strong></p>
<p>Building on a global co-creation process, and informed by a global review of citizen science initiatives, the Agroecology Map team with support from <a href="https://agroecologymap.org/" target="_blank">Agroecology Map</a> developed this digital citizen science platform that combines several main features:</p>
<ol>
  <li>
    <p>Map a location where you practice agroecology.</p>
  </li>
  <li>
    <p>Register one or several practices, both on- and off-farm, that you practice in that location.</p>
  </li>
  <li>
    <p>Characterize your practice.</p>
  </li>
  <li>
    <p>Evaluate the performance of your practice against different key interests and priorities.</p>
  </li>
  <li>
    <p>Acknowledge and share your knowledge sources.</p>
  </li>
  <li>
    <p>Connect with other users by browsing or filtering their entries and comment, exchange, mobilize and organize.</p>
  </li>
</ol>
<p>Importantly, the Agroecology Map platform:</p>
<ol>
  <li>
    <p>Uses digital tools to allow global participation.</p>
  </li>
  <li>
    <p>Supports the use of different languages.</p>
  </li>
  <li>
    <p>Works with regional networks to support accessibility and fair participation for their constituencies.</p>
  </li>
  <li>
    <p>Allows users to share as little or much as they desire (few mandatory fields, many optional questions).</p>
  </li>
  <li>
    <p>Aims to foster co-learning and exchange while collecting and showcasing innovative ways of realizing agroecology in different contexts.</p>
  </li>
  <li>
    <p>Hosts the data under a Creative Commons license.</p>
  </li>
</ol>
<br>
<p><span size="2"><strong>3</strong></span><span size="2"><strong>)&nbsp;</strong></span><span size="2"><strong>H</strong></span><span size="2"><strong>ow is using the platform beneficial to&nbsp;</strong></span><span size="2"><strong>me and other users?</strong></span><span size="2"><strong>&nbsp;</strong></span></p>
<p>The human-centred design of the platform aims to benefit users in various ways:</p>
<ol>
  <li>
    <p>Share and show your experiences with other users.</p>
  </li>
  <li>
    <p>Find others who do agroecology in your surroundings for exchange and collaboration.</p>
  </li>
  <li>
    <p>See what others do around the world &ndash; in general, or by filtering the data in line with your specific interests (for example location, type of farming system, agroecological principles, system components etc.).</p>
  </li>
  <li>
    <p>Learn from others&rsquo; experiences and their personal evaluation of the performance and contextual suitability of their practices.</p>
  </li>
  <li>
    <p>Comment and ask other users questions about their locations and practices.</p>
  </li>
  <li>
    <p>Access knowledge products such as manuals and guidance documents.</p>
  </li>
  <li>
    <p>Learn more about agroecology and its different aspects and dimensions.</p>
  </li>
  <li>
    <p>Be part of a growing community striving for positive change in food systems.</p>
  </li>
  <li>
    <p>Get in touch with the Agroecology TPP and <a href="https://agroecologymap.org/" target="_blank">Agroecology Map</a> researchers.</p>
  </li>
</ol>
<br>
<p><span size="2"><strong>4</strong></span><span size="2"><strong>) What happens to&nbsp;</strong></span><span size="2"><strong>our</strong></span><strong>&nbsp;data?</strong></p>
<p><span size="2">The personal information you provide to the platform (name, email address) only serves to verify your account during the account registration process and will not be disclosed to third parties.&nbsp;</span></p>
<p><span size="2">The non-personal data you share (location, practices), on the other hand, is open access and is treated under the&nbsp;</span><u><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons license CC BY-NC-SA 4.0</a></u><span size="2">.&nbsp;</span></p>
<br>
<p><strong>5) Related media:</strong></p>
<p><u><a href="https://glfx.globallandscapesforum.org/topics/21467/page/one-million-voices220ba736-2caa-497d-8225-53724e1867a4">Agroecology Map project website</a></u></p>
<p><u><a href="https://glfx.globallandscapesforum.org/topics/21467/news/522188">Launch of a new citizen science campaign to support global transition to agroecology</a></u> (September 2021).</p>
<p><u><a href="https://glfx.globallandscapesforum.org/topics/21467/news/719014">Discussing the role of citizen science in agroecology</a></u> (April 2022).&nbsp;</p>
<p><u><a href="https://www.youtube.com/watch?v=NvaJ4L4PMHQ&list=PLZ1FEAFDHOWdyTrqRwFINj9dNIiGZFl4W&index=7">Agroecology Map status update presented at the Agroecology TPP Members&rsquo; Forum</a></u> (February 2023).</p>
