<p><strong>1) ¿Qué es la iniciativa de ciencia ciudadana Agroecology Map?</strong></p>
<p>La iniciativa de ciencia ciudadana Agroecology Map es un proyecto implementado por Agroecology TPP en colaboración con socios de <a href="https://agroecologymap.org/" target="_blank">Agroecology Map</a>, Asian Farmers Association (AFA), Groundswell International, el facilitador de McKnight Andes Community of Practice y socios de conocimiento de ETH Citizen Centro de Ciencias de Zúrich.</p>
<p><span size="2">El objetivo de la iniciativa es desarrollar una herramienta, o una serie de herramientas, que permitan a los agricultores, las organizaciones de productores, los consumidores y otros posibles usuarios finales de todo el mundo&nbsp;</span> </p>
<ol>
  <li>
    <p>participar de forma inclusiva en los movimientos agroecológicos,&nbsp;</p>
  </li>
  <li>
    <p>apoyar la adopción sostenible de la agroecología,&nbsp;</p>
  </li>
  <li>
    <p>contribuir a la recopilación, co-creación y el intercambio de información para llenar los vacíos de conocimiento clave sobre el desempeño de la agroecología.&nbsp;</p>
  </li>
</ol>
<p>La iniciativa está financiada por la Agencia Suiza para el Desarrollo y la Cooperación (COSUDE).</p>
<br>
<p><strong>2) ¿Qué es la plataforma Un Millón de Voces de Agroecología?</strong></p>
<p>Con base en un proceso de cocreación global e informado por una revisión global de las iniciativas de ciencia ciudadana, el equipo de Agroecology Map con el apoyo de Agroecology Map desarrolló esta plataforma digital de ciencia ciudadana que combina varias características principales:</p>
<ol>
  <li>
    <p>Mapee un lugar donde practique la agroecología.</p>
  </li>
  <li>
    <p>Registre una o varias prácticas, tanto dentro como fuera de la finca, que practique en ese lugar.</p>
  </li>
  <li>
    <p>Caracterice su práctica.</p>
  </li>
  <li>
    <p>Evalúe el desempeño de su práctica frente a diferentes intereses y prioridades clave.</p>
  </li>
  <li>
    <p>Reconozca y comparta sus fuentes de conocimiento.</p>
  </li>
  <li>
    <p>Conéctese con otros usuarios navegando o filtrando sus entradas y comente, intercambie, movilice y organice.</p>
  </li>
</ol>
<p>Es importante destacar que la plataforma Un Millón de Voces de Agroecología:</p>
<ol>
  <li>
    <p>Utiliza herramientas digitales para permitir la participación global.</p>
  </li>
  <li>
    <p>Admite el uso de diferentes idiomas.</p>
  </li>
  <li>
    <p>Trabaja con redes regionales para apoyar la accesibilidad y la participación justa de sus electores.</p>
  </li>
  <li>
    <p>Permite a los usuarios compartir tanto como deseen (pocos campos obligatorios, muchas preguntas opcionales).</p>
  </li>
  <li>
    <p>Tiene como objetivo fomentar el aprendizaje conjunto y el intercambio mientras recopila y muestra formas innovadoras de realizar la agroecología en diferentes contextos.</p>
  </li>
  <li>
    <p>Aloja los datos bajo una licencia Creative Commons.</p>
  </li>
</ol>
<br>
<p><span size="2"><strong>3</strong></span><span size="2"><strong>)&nbsp;</strong></span><span size=" 2"></span><span size="2"><strong>Cómo es beneficioso usar la plataforma para&nbsp;</strong></span><span size="2"> <strong>¿yo y otros usuarios?</strong></span><span size="2"><strong>&nbsp;</strong></span></p>
<p>El diseño centrado en el ser humano de la plataforma tiene como objetivo beneficiar a los usuarios de varias maneras:</p>
<ol>
  <li>
    <p>Comparte y muestra tus experiencias con otros usuarios.</p>
  </li>
  <li>
    <p>Encuentra a otros que hagan agroecología en tu entorno para intercambiar y colaborar.</p>
  </li>
  <li>
    <p>Vea lo que otros hacen en todo el mundo &ndash; en general, o filtrando los datos de acuerdo con sus intereses específicos (por ejemplo, ubicación, tipo de sistema agrícola, principios agroecológicos, componentes del sistema, etc.).</p>
  </li>
  <li>
    <p>Aprende de los demás&rsquo; experiencias y su evaluación personal del desempeño y adecuación contextual de sus prácticas.</p>
  </li>
  <li>
    <p>Comenta y haz preguntas a otros usuarios sobre sus ubicaciones y prácticas.</p>
  </li>
  <li>
    <p>Acceda a productos de conocimiento como manuales y documentos de orientación.</p>
  </li>
  <li>
    <p>Conoce más sobre la agroecología y sus diferentes aspectos y dimensiones.</p>
  </li>
  <li>
    <p>Sé parte de una comunidad en crecimiento que lucha por un cambio positivo en los sistemas alimentarios.</p>
  </li>
  <li>
    <p>Ponte en contacto con los investigadores de Agroecology TPP y Agroecology Map.</p>
  </li>
</ol>

<br>
<p><span size="2"><strong>4</strong></span><span size="2"><strong>) Qué sucede con&nbsp;</strong></span><span size ="2"><strong>nuestros</strong></span><strong>&nbsp;datos?</strong></p>
<p><span size="2">La información personal que proporciona a la plataforma (nombre, dirección de correo electrónico) solo sirve para verificar su cuenta durante el proceso de registro de la cuenta y no se divulgará a terceros. </span ></p>
<p><span size="2">Los datos no personales que compartes (ubicación, prácticas), por otro lado, son de libre acceso y son tratados bajo la&nbsp;</span><u><a href=" https://creativecommons.org/licenses/by-nc-sa/4.0/">Licencia Creative Commons CC BY-NC-SA 4.0</a></u><span size="2">.&nbsp;</span></p>

<br>
<p><strong>5) Medios relacionados:</strong></p>
<p><u><a href="https://glfx.globallandscapesforum.org/topics/21467/page/one-million-voices220ba736-2caa-497d-8225-53724e1867a4">Sitio web del proyecto Agroecology Map</a ></u></p>
<p><u><a href="https://glfx.globallandscapesforum.org/topics/21467/news/522188">Lanzamiento de una nueva campaña de ciencia ciudadana para apoyar la transición global a la agroecología</a></u > (septiembre de 2021).</p>
<p><u><a href="https://glfx.globallandscapesforum.org/topics/21467/news/719014">Discutiendo el papel de la ciencia ciudadana en la agroecología</a></u> (abril de 2022) .&nbsp;</p>
<p><u><a href="https://www.youtube.com/watch?v=NvaJ4L4PMHQ&list=PLZ1FEAFDHOWdyTrqRwFINj9dNIiGZFl4W&index=7">Actualización del estado de Agroecology Map presentada en la reunión de miembros del TPP sobre agroecología&rsquo; Foro</a></u> (febrero de 2023).</p>