<p><strong>1) Qu'est-ce que l'initiative scientifique citoyenne Agroecology Map ?</strong></p>
<p>L'initiative scientifique citoyenne Agroecology Map est un projet mis en œuvre par l'Agroecology TPP en collaboration avec des partenaires de <a href="https://agroecologymap.org/" target="_blank">Agroecology Map</a>, l'Asian Farmers Association (AFA), Groundswell International, l'animateur de la McKnight Andes Community of Practice et des partenaires de connaissances d'ETH Citizen Centre des sciences de Zurich.</p>
<p><span size="2">L'objectif de l'initiative est de développer un outil, ou une série d'outils, qui permettent aux agriculteurs, aux organisations de producteurs, aux consommateurs et aux autres utilisateurs finaux potentiels du monde entier de&nbsp;</span> </p>
<ol>
  <li>
    <p>participer de manière inclusive aux mouvements agroécologiques,&nbsp;</p>
  </li>
  <li>
    <p>soutenir l'adoption durable de l'agroécologie,&nbsp;</p>
  </li>
  <li>
    <p>contribuer à la collecte, à la co-création et au partage d'informations pour combler les principales lacunes dans les connaissances sur les performances de l'agroécologie.&nbsp;</p>
  </li>
</ol>
<p>L'initiative est financée par la Direction du développement et de la coopération (DDC) suisse.</p>
<br>
<p><strong>2) Qu'est-ce que la plateforme Un million de voix de l'agroécologie ?</strong></p>
<p>S'appuyant sur un processus mondial de co-création et informée par un examen mondial des initiatives de science citoyenne, l'équipe Agroecology Map, avec le soutien d'Agroecology Map, a développé cette plateforme numérique de science citoyenne qui combine plusieurs fonctionnalités principales :</p>
<ol>
  <li>
    <p>Cartographiez un lieu où vous pratiquez l'agroécologie.</p>
  </li>
  <li>
    <p>Inscrivez une ou plusieurs pratiques, à la fois à la ferme et hors ferme, que vous pratiquez à cet endroit.</p>
  </li>
  <li>
    <p>Caractérisez votre pratique.</p>
  </li>
  <li>
    <p>Évaluez les performances de votre cabinet par rapport à différents intérêts et priorités clés.</p>
  </li>
  <li>
    <p>Reconnaître et partager vos sources de connaissances.</p>
  </li>
  <li>
    <p>Connectez-vous avec d'autres utilisateurs en parcourant ou en filtrant leurs entrées et commentez, échangez, mobilisez et organisez.</p>
  </li>
</ol>
<p>Important, la plateforme Agroecology Map :</p>
<ol>
  <li>
    <p>Utilise des outils numériques pour permettre une participation mondiale.</p>
  </li>
  <li>
    <p>Prend en charge l'utilisation de différentes langues.</p>
  </li>
  <li>
    <p>Travaille avec les réseaux régionaux pour soutenir l'accessibilité et la participation équitable de leurs électeurs.</p>
  </li>
  <li>
    <p>Permet aux utilisateurs de partager aussi peu ou autant qu'ils le souhaitent (peu de champs obligatoires, de nombreuses questions facultatives).</p>
  </li>
  <li>
    <p>Vise à favoriser le co-apprentissage et l'échange tout en collectant et en présentant des moyens innovants de réaliser l'agroécologie dans différents contextes.</p>
  </li>
  <li>
    <p>Héberge les données sous une licence Creative Commons.</p>
  </li>
</ol>
<br>
<p><span size="2"><strong>3</strong></span><span size="2"><strong>)&nbsp;</strong></span><span size=" 2"></span><span size="2"><strong>En quoi l'utilisation de la plateforme est-elle bénéfique pour moi et les autres utilisateurs?</strong></span><span size="2"> <strong>moi et les autres utilisateurs ?</strong></span><span size="2"><strong>&nbsp;</strong></span></p>
<p>La conception centrée sur l'humain de la plate-forme vise à profiter aux utilisateurs de différentes manières :</p>
<ol>
  <li>
    <p>Partagez et partagez vos expériences avec d'autres utilisateurs.</p>
  </li>
  <li>
    <p>Trouvez d'autres personnes qui pratiquent l'agroécologie dans votre environnement pour échanger et collaborer.</p>
  </li>
  <li>
    <p>Découvrez ce que font les autres dans le monde &ndash; en général, ou en filtrant les données en fonction de vos intérêts spécifiques (par exemple, emplacement, type de système agricole, principes agroécologiques, composants du système, etc.).</p>
  </li>
  <li>
    <p>Apprenez des autres&rsquo; expériences et leur évaluation personnelle de la performance et de l'adéquation contextuelle de leurs pratiques.</p>
  </li>
  <li>
    <p>Commentez et posez des questions aux autres utilisateurs sur leurs emplacements et leurs pratiques.</p>
  </li>
  <li>
    <p>Accédez à des produits de connaissance tels que des manuels et des documents d'orientation.</p>
  </li>
  <li>
    <p>En savoir plus sur l'agroécologie et ses différents aspects et dimensions.</p>
  </li>
  <li>
    <p>Faites partie d'une communauté grandissante qui lutte pour un changement positif dans les systèmes alimentaires.</p>
  </li>
  <li>
    <p>Contactez les chercheurs Agroecology TPP et Agroecology Map.</p>
  </li>
</ol>

<br>
<p><span size="2"><strong>4</strong></span><span size="2"><strong>) Qu'arrive-t-il à&nbsp;</strong></span><span size="2"><strong>nos</strong></span><strong>&nbsp;données ?</strong></p>
<p><span size="2">Les informations personnelles que vous fournissez à la plate-forme (nom, adresse e-mail) ne servent qu'à vérifier votre compte pendant le processus d'enregistrement du compte et ne seront pas divulguées à des tiers.&nbsp;</span ></p>
<p><span size="2">Les données non personnelles que vous partagez (localisation, pratiques), en revanche, sont en accès libre et sont traitées sous le&nbsp;</span><u><a href=" https://creativecommons.org/licenses/by-nc-sa/4.0/">Licence Creative Commons CC BY-NC-SA 4.0</a></u><span size="2">.&nbsp;</span></p>

<br>
<p><strong>5) Médias associés :</strong></p>
<p><u><a href="https://glfx.globallandscapesforum.org/topics/21467/page/one-million-voices220ba736-2caa-497d-8225-53724e1867a4">Site Web du projet Agroecology Map</a ></u></p>
<p><u><a href="https://glfx.globallandscapesforum.org/topics/21467/news/522188">Lancement d'une nouvelle campagne de science citoyenne pour soutenir la transition mondiale vers l'agroécologie</a></u > (septembre 2021).</p>
<p><u><a href="https://glfx.globallandscapesforum.org/topics/21467/news/719014">Discuter du rôle de la science citoyenne dans l'agroécologie</a></u> (avril 2022)
<p><u><a href="https://www.youtube.com/watch?v=NvaJ4L4PMHQ&list=PLZ1FEAFDHOWdyTrqRwFINj9dNIiGZFl4W&index=7">Agroecology Map status update presented at the Agroecology TPP Members&rsquo; Forum</a></u> (February 2023).</p>
