<p><strong>1) O que é a iniciativa de ciência cidadã Agroecology Map?</strong></p>
<p>A iniciativa de ciência cidadã Agroecology Map é um projeto implementado pela Agroecology TPP em colaboração com parceiros da <a href="https://agroecologymap.org/" target="_blank">Agroecology Map</a>, Asian Farmers Association (AFA), Groundswell International, o facilitador da McKnight Andes Community of Practice, e parceiros de conhecimento da ETH Citizen Centro de Ciências de Zurique.</p>
<p><span size="2">O objetivo da iniciativa é desenvolver uma ferramenta, ou uma série de ferramentas, que permitam aos agricultores, organizações de produtores, consumidores e outros potenciais usuários finais em todo o mundo&nbsp;</span> </p>
<ol>
  <li>
    <p>participar de forma inclusiva dos movimentos agroecológicos,&nbsp;</p>
  </li>
  <li>
    <p>apoiar a adoção sustentável da agroecologia,&nbsp;</p>
  </li>
  <li>
    <p>contribuir para a coleta, cocriação e compartilhamento de informações para preencher as principais lacunas de conhecimento sobre o desempenho da agroecologia.&nbsp;</p>
  </li>
</ol>
<p>A iniciativa é financiada pela Agência Suíça de Desenvolvimento e Cooperação (SDC).</p>
<br>
<p><strong>2) O que é a plataforma Um Milhão de Vozes da Agroecologia?</strong></p>
<p>Com base em um processo de cocriação global e informado por uma revisão global de iniciativas de ciência cidadã, a equipe Agroecology Map com o apoio do Agroecology Map desenvolveu esta plataforma digital de ciência cidadã que combina vários recursos principais:</p>
<ol>
  <li>
    <p>Mapeie um local onde você pratica agroecologia.</p>
  </li>
  <li>
    <p>Registre uma ou várias práticas, dentro e fora da fazenda, que você pratica naquele local.</p>
  </li>
  <li>
    <p>Caracterize sua prática.</p>
  </li>
  <li>
    <p>Avalie o desempenho de sua prática em relação a diferentes interesses e prioridades principais.</p>
  </li>
  <li>
    <p>Reconheça e compartilhe suas fontes de conhecimento.</p>
  </li>
  <li>
    <p>Conecte-se com outros usuários navegando ou filtrando suas entradas e comentando, trocando, mobilizando e organizando.</p>
  </li>
</ol>
<p>É importante ressaltar que a plataforma Um Milhão de Vozes da Agroecologia:</p>
<ol>
  <li>
    <p>Usa ferramentas digitais para permitir a participação global.</p>
  </li>
  <li>
    <p>Suporta o uso de diferentes idiomas.</p>
  </li>
  <li>
    <p>Trabalha com redes regionais para apoiar a acessibilidade e a participação justa de seus constituintes.</p>
  </li>
  <li>
    <p>Permite que os usuários compartilhem o quanto quiserem (poucos campos obrigatórios, muitas perguntas opcionais).</p>
  </li>
  <li>
    <p>Tem como objetivo promover a co-aprendizagem e o intercâmbio enquanto coleta e apresenta formas inovadoras de realizar a agroecologia em diferentes contextos.</p>
  </li>
  <li>
    <p>Hospeda os dados sob uma licença Creative Commons.</p>
  </li>
</ol>
<br>
<p><span size="2"><strong>3</strong></span><span size="2"><strong>)&nbsp;</strong></span><span size=" 2"></span><span size="2"><strong>Como está usando a plataforma de forma benéfica para&nbsp;</strong></span><span size="2"> <strong>eu e outros usuários?</strong></span><span size="2"><strong>&nbsp;</strong></span></p>
<p>O design centrado no ser humano da plataforma visa beneficiar os usuários de várias maneiras:</p>
<ol>
  <li>
    <p>Compartilhe e mostre suas experiências com outros usuários.</p>
  </li>
  <li>
    <p>Encontre outras pessoas que fazem agroecologia em seu entorno para troca e colaboração.</p>
  </li>
  <li>
    <p>Veja o que outras pessoas fazem ao redor do mundo &ndash; em geral, ou filtrando os dados de acordo com seus interesses específicos (por exemplo, localização, tipo de sistema agrícola, princípios agroecológicos, componentes do sistema, etc.).</p>
  </li>
  <li>
    <p>Aprenda com os outros. experiências e sua avaliação pessoal do desempenho e adequação contextual de suas práticas.</p>
  </li>
  <li>
    <p>Comente e faça perguntas a outros usuários sobre seus locais e práticas.</p>
  </li>
  <li>
    <p>Acesse produtos de conhecimento, como manuais e documentos de orientação.</p>
  </li>
  <li>
    <p>Aprenda mais sobre a agroecologia e suas diferentes vertentes e dimensões.</p>
  </li>
  <li>
    <p>Faça parte de uma comunidade em crescimento que luta por mudanças positivas nos sistemas alimentares.</p>
  </li>
  <li>
    <p>Entre em contato com os pesquisadores do TPP de Agroecologia e do Mapa de Agroecologia.</p>
  </li>
</ol>

<br>
<p><span size="2"><strong>4</strong></span><span size="2"><strong>) O que acontece com&nbsp;</strong></span><span size ="2"><strong>nossos</strong></span><strong>&nbsp;dados?</strong></p>
<p><span size="2">As informações pessoais que você fornece à plataforma (nome, endereço de e-mail) servem apenas para verificar sua conta durante o processo de registro da conta e não serão divulgadas a terceiros.&nbsp;</span ></p>
<p><span size="2">Os dados não pessoais que você compartilha (localização, práticas), por outro lado, são de acesso aberto e são tratados de acordo com&nbsp;</span><u><a href=" https://creativecommons.org/licenses/by-nc-sa/4.0/">Licença Creative Commons CC BY-NC-SA 4.0</a></u><span size="2">.&nbsp;</span></p>

<br>
<p><strong>5) Mídia relacionada:</strong></p>
<p><u><a href="https://glfx.globallandscapesforum.org/topics/21467/page/one-million-voices220ba736-2caa-497d-8225-53724e1867a4">site do projeto Agroecology Map</a ></u></p>
<p><u><a href="https://glfx.globallandscapesforum.org/topics/21467/news/522188">Lançamento de uma nova campanha de ciência cidadã para apoiar a transição global para a agroecologia</a></u > (setembro de 2021).</p>
<p><u><a href="https://glfx.globallandscapesforum.org/topics/21467/news/719014">Discutindo o papel da ciência cidadã na agroecologia</a></u> (abril de 2022) .&nbsp;</p>
<p><u><a href="https://www.youtube.com/watch?v=NvaJ4L4PMHQ&list=PLZ1FEAFDHOWdyTrqRwFINj9dNIiGZFl4W&index=7">Atualização do status do Um Milhão de Vozes apresentada na Reunião dos Membros do TPP de Agroecologia&rsquo; Fórum</a></u> (fevereiro de 2023).</p>