<% title t(:contact) %>
<style>
    .thank_you_notes {
        margin-left: auto;
        margin-right: auto;
        max-width: 900px;
        margin-top: 40px;
    }

    .logo {
        width: 220px;
        margin: auto;
        background-color: transparent;
    }

    .thank_you_notes .card {
        border: 0;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card {
        margin-bottom: 32px;

    }
</style>

<div class="thank_you_notes">
  <br>
  <h1><%= t(:contact) %></h1>

  <div class="text-box" style="line-height: 30px;">
    <strong>On the <a href="https://en.wikipedia.org/wiki/Fediverse" target="_blank">Fediverse</a> Mastodon:</strong><br> <b><a href="https://mas.to/@AgroecologyMap" target="_blank">mas.to/@AgroecologyMap</a></b>
    <br><br>
    <strong>Bug Report:</strong><br> <b><a href="https://codeberg.org/marcelo-soares-souza/Agroecology-Map/issues" target="_blank">codeberg.org/marcelo-soares-souza/Agroecology-Map/issues</a></b>
  </div>
