<style>
  video {
    width: 100% !important;
    height: auto !important;
  }

  .manual {
      margin: 32px auto;
      font-size: 21px;
      text-align: justify-all;
      max-width: 875px;
  }
</style>

<% title t(:manual) %>

<div class="manual">
  <h1>Manual</h1>
  <video controls>
    <source src="/tutorial.webm" type="video/webm; codecs=vp9,vorbis">
    <source src="/tutorial.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <h3>Any questions please contact marcelo@agroecologymap.org</h3>
</div>
