<% title t(:who_we_are) %>
<div class="about">
  <%= image_tag ("logo.png"), width: 300, class: "error" %>
  <div style="max-width: 600px; margin-left: auto; margin-right: auto; text-align: justify;">
    <h2><strong style="font-size: 18px;"><%= t(:who_we_are_and_why) %></strong></h2>
  </div>
  <h2><strong><%= t(:thanks) %></strong></h2>
  <a href="https://agroecologymap.org/contributors/marcelo-soares-souza" target="_blank">Marcelo Soares Souza</a><br>
  <a href="https://www.linkedin.com/in/eduformi/" target="_blank">Eduardo Fernandes Formighieri</a><br>
  <a href="https://github.com/cpt-westphalen" target="_blank">Rodrigo Westphalen</a><br>
  <a href="https://www.linkedin.com/in/murilo-gelain-gon%C3%A7alves/" target="_blank">Murilo Gelain Gonçalves</a><br>
  <a href="https://www.linkedin.com/in/vitoria-pimentel/" target="_blank">Vitória Pimentel</a><br>
  <a href="https://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4443163D1" target="_blank">Mariana Crepaldi de Paula</a><br>
  <br>
</div>
