<% title t(:who_we_are) %>
<div class="about">
  <h1><%= t(:developers) %> and <%= t(:friends) %></h1>
  <br>
  <h4>Agroecology Map</h4>
  <a href="https://agroecologymap.org/contributors/marcelo-soares-souza" target="_blank">Marcelo Soares Souza</a><br>
  <a href="https://www.linkedin.com/in/eduformi/" target="_blank">Eduardo Fernandes Formighieri</a><br>
  <a href="https://github.com/cpt-westphalen" target="_blank">Rodrigo Westphalen</a><br>
  <a href="https://www.linkedin.com/in/murilo-gelain-gon%C3%A7alves/" target="_blank">Murilo Gelain Gonçalves</a><br>
  <a href="https://www.linkedin.com/in/vitoria-pimentel/" target="_blank">Vitória Pimentel</a><br>
  <br>
</div>
