<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link para modificar a sua senha. Você pode fazer isto através do link abaixo.</p>

<p><%= link_to 'Modificar minha Senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isto, por favor ignore este e-mail.</p>
<p>Sua senha não será modificada até você acessar o Link.</p>
