<% if notice %>
  <div class="alert alert-info fade in" role="alert" style="font-weight: bold;">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger fade in" role="alert" style="font-weight: bold;">
    <%= alert %>
  </div>
<% end %>

<% flash.each do |type, msg| %>
  <% if type == "error" %>
    <div class="alert alert-danger fade in" style="font-weight: bold;">
      <%= msg %>
    </div>
  <% end %>
<% end %>
