        <% if notice %>
          <div class="alert alert-info fade in" role="alert">
            <%= notice %>
          </div>
        <% end %>

        <% if alert %>
          <div class="alert alert-danger fade in" role="alert">
            <%= alert %>
          </div>
        <% end %>
