    <footer class="footer">
      <div class="container">
        <span class="text-muted">
          <%= link_to I18n.t(:agroecology_is_free_software), "https://codeberg.org/marcelo-soares-souza/agroecology-map", :target => "_blank" %>
          <span class="contact"><b>Contatos: </b>
            <%= link_to image_tag("mail.png"), "mailto:contato@mapadaagroecologia.org", :target => "_blank" %>
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />Este obra está licenciado com uma Licença <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Atribuição 4.0 Internacional</a>.
          </span>
        </span>
      </div>
    </footer>
