    <br/><br/><br/><br/><br/><br/><br/>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">
          <%= link_to I18n.t(:agroecology_is_free_software), "https://gitlab.com/ITBio3/agroecologia", :target => "_blank" %>
        </span>
      </div>
    </footer>
