    <footer class="footer">
      <div class="container">
        <span class="text-muted">
          <%= link_to I18n.t(:agroecology_is_free_software), "https://codeberg.org/marcelo-soares-souza/agroecology-map", :target => "_blank" %>
          <span class="contact"><b>Contatos: </b>
            <%= link_to image_tag("mail.png"), "mailto:contato@mapadaagroecologia.org", :target => "_blank" %>
          </span>
        </span>
      </div>
    </footer>
