<% if request.path == '/map'%>
  <%= yield %>
<% else %>
  <div class="container">
    <br><br>
    <div class="starter-template">
      <%= render 'layouts/alert' %>
      <%= yield %>
    </div>
  </div>
<% end %>