<% if request.path == '/map'%>
  <%= yield %>
<% else %>
  <div class="container">
    <div class="<%= request.path == '/' ?  'starter-template-map' : 'starter-template' %>">
      <%= render 'layouts/alert' %>
      <%= yield %>
    </div>
  </div>
<% end %>
